# ignore node_modules anywhere
**/node_modules/
node_modules/
.DS_Store

# ignore build output anywhere
**/dist/
dist/
**/build/
build/

__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

# Virtual environments
.venv

# TODO: Temp ignore for local testing, remove when we add the voice agent code is working
cb_langchain/voice-agent
hidden_code
eks-practice
ai_agents
report.json